{% extends "base.html" %}

<body>
    {% block sitecontent %}
    <h1>Article</h1>
    <form action="" method="post">
        <div class="form_settings">
            {% csrf_token %}
            {{ form.as_p }}
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" value="submit" /></p>
        </div>
    </form>


    {% if object.assets %}
    <h4>Assets</h4>
    <table>
        <tr>
            <th>Description</th>
            <th>File</th>
        </tr>
    {% for obj in object.assets %}
        <tr>
            <td>{{ obj.description }}</td>
            <td>{{ obj.file }}</td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}

    {% endblock %}
</body>
