{% extends "base.html" %}
{% load i18n %}

<body>
    {% block sitecontent %}
    <h1>Article</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% if request.user.is_superuser %}
            {% trans 'Are you sure you want to delete article' %} <b>{{ object.header }}</b>?
            <br><br>
            <div class="form_settings">
                <button class="submit" type="submit">{% trans 'Delete' %}</button>&emsp;&emsp;
                <a role="button" href="{% url 'redaction_article' %}">{% trans 'Cancel' %}</a>
            </div>
        {% else %}
            The logged in user is not a superuser.
            Please log in as a super user in order to add/modify user data. 
        {% endif %}
    </form>
    {% endblock %}
</body>
