{% load i18n %}
{% load custom_tags %}

<!DOCTYPE HTML>
<html>

<head>
  <title>
    {% if head is not None %}
      {{ head }}
    {% else %}
      {% settings_value "BLUECMS_TITLE1" %}{% settings_value "BLUECMS_TITLE2" %}
    {% endif %}
  </title>

  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/style/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/"><span class="logo_colour">{% settings_value "BLUECMS_TITLE1" %}</span>{% settings_value "BLUECMS_TITLE2" %}</a></h1>
          <h2>{% trans 'Simple. Contemporary. CMS Template.' %}</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li {% if menu == 1 %} class="selected" {% endif %}><a href="/">{% trans 'Home' %}</a></li>
          {% if request.user.is_authenticated %}
          <li {% if menu == 2 %} class="selected" {% endif %}><a href="/redaction">{% trans 'Redaction' %}</a></li>
          {% endif %}
          <li {% if menu == 3 %} class="selected" {% endif %}><a href="/contact">{% trans 'Contact Us' %}</a></li>
          {% if request.user.is_authenticated %}
          <li {% if menu == 4 %} class="selected" {% endif %}><a href="/accounts/logout">{% trans 'Logout' %} ({{ request.user.username }})</a></li>
          {% else %}
          <li {% if menu == 4 %} class="selected" {% endif %}><a href="/accounts/login">{% trans 'Login' %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div id="site_content">
      {% if messages %}
        <ul class="msg">
        {% for msg in messages %}
            <li class="msg-{{ msg.tags }}">{{ msg }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      
      {% block sitecontent %}

      {% endblock %}
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      {% trans '__website_copyright__' %}
    </div>
  </div>
<div style="text-align: center; font-size: 0.75em;">Design downloaded from <a href="http://www.freewebtemplates.com/">free website templates</a>.</div></body>
</html>
