{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load markdown_extras %}

{% block sitecontent %}
<div class="sidebar">
    <!-- insert your sidebar items here -->
    <h3>{% trans 'Latest News' %}</h3>
    {% if shorts %}
        {% for obj in shorts %}
            <h4>{{ obj.header }}</h4>
            <h5>{{ obj.created_date|date:"d.m.Y" }}</h5>
            {{ obj.body | markdown | safe }}
        {% endfor %}
        <a href="{% url 'shorts' %}">{% trans 'More news' %} >></a>
        <p></p>
    {% else %}
        <h5>{% trans 'No shorts' %}</h5>
    {% endif %}
    <h3>{% trans 'Useful Links' %}</h3>
    <ul>
      {% if useful_links %}
        {% for obj in useful_links %}
        <li><a href="{{ obj.link }}">{{ obj.header }}</a></li>    
        {% endfor %}
      {% else %}
        <li>{% trans 'No links' %}</li>
      {% endif %}
    </ul>
    <h3>{% trans 'Search' %}</h3>
    <form method="post" action="" id="search_form">
      {% csrf_token %}
      <p>
        <input class="search" type="text" name="search_field" placeholder="{% trans 'Enter keywords' %}....." />
        <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="/static/style/search.png" alt="Search" title="Search" />
      </p>
    </form>
  </div>
  <div id="content">
    <!-- insert the page content here -->
    {% block content %}
    
    {% endblock %}

    {% if is_paginated %}
    <p style="text-align: center;">
    <a {% if page_obj.has_previous %} href="?page={{page_obj.previous_page_number}}" {% endif %}>{% trans 'Previous' %}</a>
    {% for i in paginator.page_range %}
        {% if page_obj.number == i %} <b> {% endif %} <a class="page-link" href="?page={{i}}">{{i}}</a> {% if page_obj.number == i %} </b> {% endif %}
    {% endfor %}
    <a {% if page_obj.has_next %} href="?page={{page_obj.next_page_number}}" {% endif %}>{% trans 'Next' %}</a>
    </p>
    {% endif %}

  </div>
  {% endblock %}
