{% extends "base_paginated.html" %}
{% load i18n %}
{% load static %}

<body>
    {% block content %}

    <h1>{% trans 'Useful Links' %}</h1>

    [<a href="{% url 'useful_link_create' %}">{% trans 'Create new useful link' %}</a>]
    <table>
        <tr>
            <th>{% trans 'Order' %}</th>
            <th>{% trans 'Header' %}</th>
            <th>{% trans 'Link' %}</th>
            <th>{% trans 'Published' %}</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        {% if object_list %}
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.order }}</td>
            <td>{{ obj.header }}</td>
            <td>{{ obj.link }}</td>
            <td>{{ obj.published }}</td>
            <td>[<a href="{% url 'useful_link_update' obj.pk %}">{% trans 'Edit' %}</a>]</td>
            <td>[<a href="{% url 'useful_link_delete' obj.pk %}">{% trans 'Delete' %}</a>]</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

    {% endblock %}
</body>
