{% extends "base_paginated.html" %}
{% load i18n %}
{% load static %}

<body>
    {% block content %}

    <h1>{% trans 'Assets' %}</h1>

    [<a href="{% url 'asset_create' %}">{% trans 'Create new asset' %}</a>]
    <table>
        <tr>
            <th>{% trans 'Description' %}</th>
            <th>{% trans 'Article' %}</th>
            <th>{% trans 'Created' %}</th>
            <th>{% trans 'File' %}</th>
            <th>&nbsp;</th>
        </tr>
        {% if object_list %}
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.description }}</td>
            <td>{{ obj.article.header }}</td>
            <td>{{ obj.created_date|date:"d.m.Y" }}</td>
            <td>{{ obj.file }}</td>
            <td>[<a href="{% url 'asset_delete' obj.pk %}">{% trans 'Delete' %}</a>]</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

    {% endblock %}
</body>
