{% extends "base.html" %}
{% load i18n %}
{% load static %}

<body>
    {% block sitecontent %}
    <h1>{% trans 'Redaction - Useful Links' %}Redaction</h1>
    <ul>
        <li><a href="{% url 'redaction_article' %}">{% trans 'Articles' %}</a></li>
        <li><a href="{% url 'redaction_asset' %}">{% trans 'Assets' %}</a></li>
        <li><a href="{% url 'redaction_short' %}">{% trans 'Shorts' %}</a></li>
        <li><a href="{% url 'redaction_useful_link' %}">{% trans 'Useful Links' %}</a></li>
    </ul>
    {% endblock %}
</body>
