{% extends "base_paginated.html" %}
{% load i18n %}
{% load static %}

<body>
    {% block content %}

    <h1>{% trans 'Articles' %}</h1>

    [<a href="{% url 'article_create' %}">{% trans 'Create new article' %}</a>]
    <table>
        <tr>
            <th>{% trans 'Article' %}</th>
            <th>{% trans 'Author' %}</th>
            <th>{% trans 'Created' %}</th>
            <th>{% trans 'Published' %}</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        {% if object_list %}
        {% for obj in object_list %}
        <tr>
            <td><a href="{% url 'article' obj.pk %}">{{ obj.header }}</a></td>
            <td>{{ obj.author }}</td>
            <td>{{ obj.created_date|date:"d.m.Y" }}</td>
            <td>{{ obj.published }}</td>
            <td>[<a href="{% url 'article_update' obj.pk %}">{% trans 'Edit' %}</a>]</td>
            <td>[<a href="{% url 'article_delete' obj.pk %}">{% trans 'Delete' %}</a>]</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

    {% endblock %}
</body>
